  <div id="navbar">
    <ul>
      <li><%= nav_link  :displayname => "Home", :target => "index.html",
                      :lastlink => false %></li>
      <li><%= nav_link  :displayname => "About", :target => "club.html",
                      :lastlink => false %></li>
      <li><%= nav_link  :displayname => "Calendar", :target => "calendar.html",
                      :lastlink => false %></li>
      <li><%= nav_link  :displayname => "Racing", :target => "racing.html",
                      :lastlink => false %></li>
      <li><%= nav_link  :displayname => "Juniors", :target => "juniors.html",
                      :lastlink => false %></li>
      <li><%= nav_link  :displayname => "Learn to Sail", :target => "learn.html",
                      :lastlink => false %></li>
      <li><%= nav_link  :displayname => "Joining", :target => "joining.html",
                      :lastlink => false %></li>
      <li><%= nav_link  :displayname => "Contact Us", :target => "contact.html",
                      :lastlink => false %></li>
    </ul>
  </div>
