		<div id="sectionnavbar">
				<ul>					
          <li><%= section_nav_link  :displayname => "Club Racing", :target => "racing.html",
                :lastlink => false %></li>
          <li><%= section_nav_link  :displayname => "Club Results", :target => "results.html",
                :lastlink => false %></li>
          <li><%= section_nav_link  :displayname => "Trophy Winners", :target => "winners.html",
                :lastlink => false %></li>
          <li><%= section_nav_link  :displayname => "Open Meetings", :target => "open.html",
                 :lastlink => false %></li>
          <li><%= section_nav_link  :displayname => "Personal Handicaps", :target => "handicaps.html",
                :lastlink => false %></li>
          <li><%= section_nav_link  :displayname => "Club PY Numbers", :target => "py.html",
                :lastlink => false %></li>
          <li><%= section_nav_link  :displayname => "Results Archive", :target => "archive.html",
                :lastlink => false %></li>			
				</ul>
		</div>